<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Blaze Pollard - designer & 3d artist.">
    <meta name="keywords" content="nft artist, nft art, nft, crypto artist, cryptoart, nftmarbles, crypto art, art director, creative director, digital designer, kansas city, missouri, midwest, ui, ux, product design, 3d, visuals, visual design, kansas city designer, animation, motion, mobile design, app design, missouri, designer, front-end development, creative direction, art direction, ui designer, ux designer, front-end developer, kansas city product designer">
    <meta name="author" content="{{ site.author }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{{ site.title }} {% if page.title %}- {{page.title}}{% endif %}</title>
    <link href="{{ site.baseurl }}/styles.css" type="text/css" rel="stylesheet">
    <link href="{{ site.baseurl }}/img/favicon.png" rel="icon" type="image/png">
  </head>
