// reset
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// layout
hr {
  border: none;
  border-radius: 1px;
  border-top: 2px solid rgba(white,0.1);
}
body {
  background: $gray;
  position: relative;
  animation-name: slideup;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  @keyframes slideup {
    0% {
      opacity: 0;
      transform: translateY(4rem);
    }
    25% {
      opacity: 0;
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
main {
  display: flex;
  max-width: $monitor;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  @include width(mobile) {
    padding: 2rem;
    padding-top: 4rem;
  }
  & > * {
    z-index: 9;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// threejs
canvas {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: grab;
  outline: none;
}
