// variables
$gray:                        #010101;
$sans-serif:                  "Montserrat Alternates", sans-serif;
$cursive:                     cursive;
$serif:                       serif;
$mono:                        monospace;

// responsive sizes
$watch:                       220px;
$mobile:                      600px;
$tablet:                      800px;
$laptop:                      1300px;
$monitor:                     2000px;

// custom
$transition:                  all 0.15s ease-in-out;

// border radius
$rounded-sm:                  0.25rem;
$rounded-md:                  0.5rem;
$rounded-full:                100%;
